@tailwind base;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Proxima Nova';
    font-weight: 300;
    src: url('./assets/fonts/Proxima-Nova-Thin.woff') format('woff');
  }

  @font-face {
  font-family: 'Proxima Nova';
    font-weight: 700;
    src: url('./assets/fonts/Proxima-Nova-Bold.woff') format('woff');
  }

  @font-face {
    font-family: 'Proxima Nova';
    font-weight: 400;
    src: url('./assets/fonts/Proxima-Nova-Regular.woff') format('woff');
  }
}

body {
  color: theme(colors[primary]);
}

svg {
  display: inline-block;
}