@tailwind components;

@layer components {
  .details-wrapper {
    @apply flex mt-6 mr-4 mb-8 ml-4 justify-center md:pb-40;
  }

  .details-container {
    @apply flex flex-col w-full md:grid md:grid-cols-[minmax(360px,_1fr)_minmax(150px,_402px)]
    md:max-w-[1228px] md:w-full md:max-lg:gap-12 md:gap-32;
  }

  .details-main-block {
    @apply flex flex-col;
  }

  .btn-top {
    @apply hidden md:block;
  }

  .top-block {
    @apply flex flex-wrap mt-8 md:relative;
  }

  .details-title {
    @apply text-2xl leading-[30px] font-bold w-full md:mr-48;
  }

  .top-info {
    @apply flex flex-row justify-between items-center w-full pt-2;
  }

  .top-info p {
    @apply text-[13px] leading-6 font-light text-light-gray;
  }

  .salary {
    @apply flex flex-col items-end md:absolute md:top-1 md:right-0 md:flex-col-reverse;
  }

  .salary span {
    @apply text-[18px] leading-6 font-normal text-secondary md:text-primary;
  }

  .salary h2 {
    @apply text-[20px] leading-6 font-bold;
  }

  .description {
    @apply pt-4 text-[18px] leading-[24px] tracking-[-.56px] font-normal text-secondary
    md:pt-2 md:text-primary;
  }

  .description h2 {
    @apply pt-11 pb-1 text-[20px] leading-[25px] tracking-[-.63px] font-bold text-primary
    md:pb-2;
  }

  .description ul {
    @apply list-inside md:list-outside md:ml-5;
    list-style-type: square;
  }

  .apply-btn {
    @apply self-center mt-10 w-32 h-[52px] rounded-lg bg-blue-700 text-white uppercase
    font-semibold text-xs leading-4 md:self-start;
  }

  .details-additional {
    @apply flex flex-col md:flex-col-reverse;
  }

  .additional-info {
    @apply mt-16 md:mt-[86px];
  }

  .employment-btn {
    @apply h-[50px] w-[122px] mt-3 mr-2 rounded-lg border-gray-10 border bg-blue-100 text-blue-200
    font-bold text-[16px] leading-4 tracking-[.46px];
  }

  .benefits-btn {
    @apply h-[50px] w-[122px] min-w-fit pl-3 pr-3 mt-3 mr-2 rounded-lg border-yellow-100 border
    bg-yellow-50 text-yellow-150 font-bold text-[16px] leading-4 tracking-[.46px];
  }

  .return-btn {
    @apply hidden md:block h-[50px] w-[213px] pl-5 pr-5 mt-[92px] rounded-lg bg-blue-700
    bg-opacity-[.14] uppercase font-semibold text-primary text-xs;
  }

  .bordered {
    @apply pb-2 border-b;
  }
}